{:paths
 ["dev" "notebooks"]

 :deps
 {io.github.nextjournal/clerk {:mvn/version "0.17.1102"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/test.check {:mvn/version "1.1.1"}}

 :aliases
 {:nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["notebooks/**"]
               :index "notebooks/index.clj"}}}}
